:root {
    --white-hover- : rgb(215, 215, 215);
    --white- : rgb(248, 245, 242);
    --black-theator- : rgb(26, 14, 18);
    --crepuscule- : rgb(55, 47, 68);
    --red-seat- : rgb(122, 47, 55);
    --red-light- : rgb(209, 77, 62);
}

body, html {
    font-size: 16px;
    width: 100%;
    margin: 0px;
}

main {
    margin-top: 100px; /* 100px taille du homeHeader en hauteur */
}

button:not(#submit-movie-search, #go-to-filters) {
    font-size: 0.8rem;
    border: 2px ridge var(--white-);
    border-radius: 25px;
    box-shadow: 1px 1px 3px black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color 0.5s linear;
}

button:not(#submit-movie-search, #go-to-filters):hover {
    background-color: var(--white-hover-);
}

#homeHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100px;           /*Modifier*/
    background-color: var(--black-theator-);
    border-bottom: 2px solid black;
    position: fixed; /* Fixe le header en haut de la page */
    top: 0; /* Le placer tout en haut */
    left: 0;
    right: 0;
    z-index: 100;
}

#navbar {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 1vw;
    width: 75%;
    height: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--crepuscule-);
}

.logo-container {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 85%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-);
    cursor:pointer;
}

#searchForm {
    width: 50%;
}

/* ------------------ */

main {
    padding: 15px;
    background-image: url("/images/cinema.jpg");
    background-size: cover;
    background-position: center;
}

footer {
    height: auto;
    padding: 5px 15px;
    background-color: var(--black-theator-);
    font-size: 0.80rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color: var(--white-);
    border-top: 2px solid black;
}

footer h3 {
    font-size: 1rem;
    font-weight: bold;
}

footer p , footer li{
    font-size: 0.75rem;
}

a {
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: var(--red-seat-);
}

.explication-text {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 80vw;
    height: auto;
    text-align:center;
    padding: 10px;
    color: var(--white-);
    background-color: var(--black-theator-);
    border-radius: 15px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    box-shadow: 5px 5px 10px gray;
}

.moviesDisplay {
    display: grid;  
    grid-template-columns: repeat(4, minmax(20%, 1fr));
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 15px 15px;
}

.navbar-item {
    border-radius: 15px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;   
    width: 20%;
    border-style:none;
    background-color: var(--white-);
    position: relative;
}

#profilSection {
    justify-content: right;

    details {
        max-block-size: auto;
        z-index: 10;
        position: absolute; /* On le positionne absolument par rapport à son conteneur parent. */
        top: 30%;
        left: 10%;  /* Positionner à 10 % de son parent. */
        height: auto;
        border-radius: 15px;
        background-color: var(--white-);
    }
    
    details > a {
        display: block;
        padding: 2px 8px;
        color: var(--black-theator-);
    }
    
    summary {
        overflow: hidden;
        text-overflow: ellipsis;
        position: sticky;
    }
}

#parameters-div {
    border: 5px solid var(--black-theator-);
    border-radius: 15px;
    background-color: var(--crepuscule-);
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    padding: 15px;
}

.parameter {
    color : var(--white-);
    width: 100%;
    height: auto;
    border: 1px solid var(--white-);
    border-radius: 15px;
    padding: 5px;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
#login-container, #create-account-container {
    color: var(--white-);
    border: 5px solid var(--black-theator-);
    border-radius: 15px;
    background-color: var(--crepuscule-);
    width: 50vw;
    height: 70vh;
    padding: 15px;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
#login-form, #create-account-form {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 100%;
    gap: 10px;

    .explication-text {
        width: 80%;
    }

    div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--black-theator-);
        border: 1px solid black;
        border-radius: 15px;
        width: 75%;
        padding: 10px;

        label {
            text-align: left;
            flex: 30%;
        }

        input {
            background-color: var(--crepuscule-);
            color: var(--white-);
            flex: auto;
            transition: background 0.5s linear;
        }

        input:hover {
            background: var(--white-hover-);
        }
    }

    .buttonsDiv {
        background-color:transparent;
        border: none;
        justify-content: space-evenly;
    }
}

#create-account-form .explication-text {
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;

}

.error-container {
    color: var(--red-light-);
    background-color: var(--white-);
    border: 2px solid var(--red-light-);
    border-radius: 15px;
    margin: 10px;
    margin-top: 15px;
    padding: 15px;
    width: 25vw;
    height: 10vh;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#badges-container {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
}

.badgeCard {
    background: radial-gradient(ellipse, var(--red-light-), var(--red-seat-));
    border: 5px solid var(--black-theator-);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin: 10px;
    border-radius: 50px;

    font-size: 1rem;
    font-weight: bold;

    transition: transform 0.5s ease-out;;

    .badge-image-div {
        flex: 0 0 20%;
    }
    
    .badge-picture {
        max-width: 100%;
        height: auto;
        display: block;
        transition : transform 1s ease-out;
    }
    
    .badge-picture:hover {
        transform: scale(1.5);
    }
}

.badgeCard:hover {
    transform: scale(1.05);
}

.lockedBadgesDisplay .badgeCard {
    background: none;
    background-color: rgba(105,105,105,0.90);
    filter:blur(5px);

    .badge-picture{
        filter:blur(20px);
    }

    .badge-picture:hover {
        transform: none;
    }
}

.details-text {
    align-self: flex-start ;
    text-align: left;
    width: 55vw;
    background-color: var(--crepuscule-);
    border: 2px solid var(--white-);
    box-shadow: 1px 1px 3px var(--white-);
    padding: 15px;
    color: var(--white-);
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.alert-text {
    text-align: left;
    width: 55vw;
    background-color: var(--red-light-);
    border: 2px solid var(--red-seat-);
    box-shadow: 1px 1px 3px var(--red-seat-);
    padding: 15px;
    color: var(--white-);
    border-radius: 25px;
}

hr {
    margin: 2vw;
}

#register-review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;

    .explication-text{
        width: 90%; 
    }

    .error-container {
        width: 100%;
    }
}

#review-form {
    color: var(--black-theator-);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 55vw;
    padding: 15px;
    background-color: var(--white-);

    #noteInput {
        appearance: none;
        height: 10px; /* Hauteur de la barre */
        background: lightgray; /* Couleur de fond de la barre */
        border-radius: 5px; /* Coins arrondis */
        cursor:pointer;
        color: var(--white-);
    }

    /* Curseur (thumb) pour Chrome, Safari, Edge */
    #noteInput::-webkit-slider-thumb {
        appearance: none;
        width: 10px;
        height: 10px;
        background: var(--white-); /* Couleur du curseur */
        border-radius: 50%; /* Rond */
        cursor: pointer;
        transition: background 0.3s, transform 0.2s;
    }

    /* Effet au survol */
    #noteInput::-webkit-slider-thumb:hover {
        background: var(--crepuscule-); /* Couleur plus foncée */
        transform: scale(1.5); /* Effet d'agrandissement */
    }

    /* Curseur (thumb) pour Firefox */
    #noteInput::-moz-range-thumb {
        width: 10px;
        height: 10px;
        background: var(--white-); /* Couleur du curseur */
        border-radius: 50%;
        cursor: pointer;
        transition: background 0.3s, transform 0.2s;
    }

    /* Effet au survol pour Firefox */
    #noteInput::-moz-range-thumb:hover {
        background: var(--crepuscule-); /* Couleur plus foncée */
        transform: scale(1.5); /* Effet d'agrandissement */
    }
}

#review-form-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 5px;
}

#emotions-container {
    display: grid;
    grid-template-columns: repeat(5, auto); /* 5 colonnes de taille égale */
    justify-content: center; /* Centrer la grille */
    gap: 10px;
    margin: 10px;
}

.emotion, .genre {
    color: var(--black-theator-);
    text-align: center; /* Centrer le texte dans les cases */
    border: 1px solid var(--black-theator-);
    border-radius: 5px;
    padding: 10px;
    background: radial-gradient(ellipse, var(--red-light-), var(--red-seat-));
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.emotion-checkbox, #fav-input, .genre-checkbox {
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: var(--white-);
    border: 1px solid lightgray;
    transition: transform 0.5s ease-in;
    position: relative;
}

.emotion-checkbox:disabled, #fav-input:disabled, .genre-checkbox:disabled {
    border: 1px solid var(--black-theator-);
    background-color: lightgray;
}

.emotion-checkbox:checked, #fav-input:checked, .genre-checkbox:checked {
    transform: rotateY(180deg);
}

.emotion-checkbox:checked::after, #fav-input:checked::after, .genre-checkbox:checked::after {
    content: 'X';
    color: var(--black-theator-);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#comment-container {
    width: 100%;
    margin: 5px;    

    textarea {
        width: 100%;
        height: 20vh;
        margin: 5px;
        transition: outline 0.5s ease-in;
        border-radius: 0px;
    }

    textarea:hover {
        outline: 1px solid var(--crepuscule-);
    }
}

#review-form-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    width: 90%;
    margin: 5px;

    details {
        flex: 70;
        text-align: left;
        padding: 5px;
    }

    button {
        flex:30;
    }
}

#feedback-display {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap: 3%;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

#review-card{
    width: 100%;    
    padding: 10px 5px;

    background-color: rgba(255, 255, 255, 0.90);
    box-sizing: border-box;
    overflow: hidden;
    
    border: 5px solid var(--white-);
    border-radius: 20px;
    outline: 1px solid black;
    box-shadow: 3px 3px 5px var(--black-theator-);

    p {
        margin: 5px;
    }
}

#emotions-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

    p {
        background: radial-gradient(ellipse, var(--red-light-), var(--red-seat-));
        color: var(--black-theator-);
        border: 1px solid var(--black-theator-);
        border-radius: 30px;
        padding: 10px;
    }
}

#review-author {
    text-align: end;
}

#filters-section {
    width: 85vw;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom:10vh;
}

#filters-form {
    width: 90%;
    padding: 15px;
    color: var(--black-theator-);
    background-color: var(--white-);
    display: grid;
    grid-template-areas:
        "reset-filters  submit-filters submit-filters"
        "genre-filter genre-filter genre-filter"
        "note-filter runtime-filter released-date-filter";
        gap: 10px;
}

#genre-options {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: 10px auto;

    div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

#reset-filters, #submit-filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 10vh;
}

#reset-filters-button, #submit-filters-button {
    width: 80%;
    margin: 10px;
}

#reset-filters {
    grid-area: reset-filters;
    text-align: left;
}

#submit-filters {
    grid-area: submit-filters;
    text-align: right;
}

#genre-filter {
    grid-area: genre-filter;
    border-top: 2px solid var(--black-theator-);
    border-bottom: 2px solid var(--black-theator-);
    padding: 10px;
}

#note-filter {
    grid-area: note-filter;
}

#runtime-filter {
    grid-area: runtime-filter;
}

#released-date-filter {
    grid-area: released-date-filter;
}

.filter > input[type="range"] {
    appearance: none;
    height: 10px; /* Hauteur de la barre */
    background: lightgray; /* Couleur de fond de la barre */
    border-radius: 5px; /* Coins arrondis */
    cursor:pointer;
    color: var(--white-);
}

/* Curseur (thumb) pour Chrome, Safari, Edge */
.filter > input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 10px;
    height: 10px;
    background: var(--white-); /* Couleur du curseur */
    border-radius: 50%; /* Rond */
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

/* Effet au survol */
.filter > input[type="range"]::-webkit-slider-thumb:hover {
    background: var(--crepuscule-); /* Couleur plus foncée */
    transform: scale(1.5); /* Effet d'agrandissement */
}

/* Curseur (thumb) pour Firefox */
.filter > input[type="range"]::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: var(--white-); /* Couleur du curseur */
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

/* Effet au survol pour Firefox */
.filter > input[type="range"]-moz-range-thumb:hover {
    background: var(--crepuscule-); /* Couleur plus foncée */
    transform: scale(1.5); /* Effet d'agrandissement */
}

.filter > p {
    font-size: 1.5rem;
    text-align: start;
}

.filter {
    margin: 10px;
}

#container_error {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--black-theator-);
    color: var(--white-);
}

#features_error {
    background-color: var(--crepuscule-);
    width: 40vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

    border: 5px solid var(--black-theator-);

    img {
        height: 90%;
        width: auto;
        object-fit: cover;
    }

    button {
        height: 10%;
        width: 80%;
    }
}

#information_error {
    background-color: var(--crepuscule-);
    border: 5px solid var(--black-theator-);
    width: 55vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    gap: 20px;

    #number_error {
        width: 60%;
        height: 50%;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        background-color: var(--red-light-);
        border: 5px solid var(--black-theator-);
        border-radius: 15px;
        padding: 10px;

        span{
            text-align: center;
            font-size: 6rem;
            font-weight: bold;
        }
    }

    #text_error{
        height: 100%;
        font-size: 1.5rem;
    }
}

/*------------------------------------------------------------------------------------*/

/* Section à commenter */

.infoMovie {
    width: 90%;
    display: grid;
    grid-template-areas: "genre genre"
                        "dir dir"
                        "runtime date";
    justify-items: start;
    column-gap: 5px;
    overflow: hidden;
}

.infoMovie > * {
    width: 100%;
    height: auto;
    font-size: 0.8rem;
    border: 1px solid var(--white-);
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    margin-top: 5px;
}

#movieGenre {
    /* background-color: red; */
    width: 100%;
    font-size: 0.8rem;
    white-space: nowrap;    /* Empêche le texte de se mettre sur plusieurs lignes */
    overflow:hidden;       /* Masque le texte qui dépasse */
    text-overflow: ellipsis; /* Ajoute "..." si le texte est coupé */
    border: 1px solid var(--white-);
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#movieGenre ul {
    display: flex;
    justify-content: right;
    list-style-type: none;  /* Retire les puces */
    padding-left: 3px;             /* Retire les marges externes */
    margin: 0;
}

#movieGenre li {
    margin-right: 5px;
}

#movieGenre{grid-area: genre;}
#movieDir{grid-area: dir;}
#movieRuntime{grid-area: runtime;}
#movieReleasedDate{grid-area: date;}

/*--------------------------------- Gestion de l'animation des cartes: ---------------------------------------*/

/* Conteneur des cartes */
.card-container {
    height: auto;
    /* background-color: blue; */
    display: grid;          /* Utilise Grid pour superposer les cartes */
    place-items: center;    /* Centre les éléments horizontalement et verticalement */
    perspective: 1000px;    /* Nécessaire pour l'effet de rotation 3D */
}

/* Cartes en elle-même */
.movieCard {
    grid-area: 1 / 1;                       /* Superpose les cartes sur la même cellule */
    backface-visibility: hidden;            /* Cache l'arrière lors du retournement */
    transition: transform 0.8s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80vh;
    /* background: linear-gradient(45deg, var(--white-) 10%, rgba(0,0,0,0.85) 55%, var(--white-) 100%); */
    /* opacity: 0.75; */
    background-color: rgba(255, 255, 255, 0.75);
    box-sizing: border-box;
    overflow: hidden;
    
    /* Bordure de carte */
    border: 5px solid var(--white-);
    border-radius: 20px;
    outline: 1px solid black;
}

.movieCard h3 {
    width: 90%;
    height: auto;
    font-size: 1.75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 2px solid black;
    border-radius: 10px;
}
  
.moviePoster {
    border: 2px var(--white-) solid;
    box-shadow: 1px 1px 3px black;
    object-fit: cover;
    margin: 5px;
    height: 50%;
}

.movieNote, .movieEmotions {
    font-size: 0.8rem;
    margin: 2px;
    width: 80%;
    height: auto;
    text-align: left;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid var(--white-);
    border-radius: 5px;
}

.buttonsDiv{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    padding: 7px;
    box-sizing: border-box;
}

.reviewButton {
    background-color: var(--white-);
    margin-right: auto;
}

.switchButton {
    background-color: var(--white-);
}

/* Position initiale des cartes */
#SimpleMovieCard {
    transform: rotateY(0deg); /* Position initiale */
}

#DetailedMovieCard {
    transform: rotateY(180deg); /* Masqué au début */
}

/* Position après retournement */
.flipped #SimpleMovieCard {
    transform: rotateY(-180deg);
}

.flipped #DetailedMovieCard {
    transform: rotateY(0deg);
}