{{!-- Contenu de la page création de compte : --}}
<div id="create-account-container" class="container-fluid">

    {{!-- Formulaire de création de compte : --}}
    <form method="post" action="/create-account" name="createAccountForm" id="create-account-form">

        <p class="explication-text">Rejoigner la communauté CinéFeel en créant votre compte !</p>

        {{!-- Saisir le nom d'utilisateur : --}}
        <div>
            <label for="username">Nom d'utilisateur :</label>
            <input id="username" name="username" type="text" minlength="3" maxlength="25" required>
        </div>

        {{!-- Saisir l'email : --}}
        <div>
            <label for="email">Adresse email :</label>
            <input id="email" name="email" type="email" maxlength="40" required>
        </div>

        {{!-- Saisir le mot de passe : --}}
        <div>
            <label for="password">Mot de passe :</label>
            <input id="password" name="password" type="password" minlength="4" maxlength="25" required>
        </div>
        
        {{#if error}}   {{!-- Si une erreur est détéctée : --}}
            <div class="error-container">
                    {{error}}    {{!-- Afficher l'erreur : --}}
            </div>
        {{/if}}
        
        {{!-- Boutons interactifs : --}}
        <div class="buttonsDiv">
            {{!-- Retourner à la page d'accueil : --}}
            <button type="button" onclick="window.location.href='./login'">Retour</button>
            {{!-- Réinitialiser le formulaire : --}}
            <button type="reset"> Réinitialiser </button>
            {{!-- Soumettre le formulaire de création de compte : --}}
            <button type="submit"> Création du compte </button>
        </div>
    </form>
</div>