{{!-- Contenu de la page d'accueil : --}}
<div id="home-background" class="container-fluid d-flex flex-column align-items-center">

    {{!-- Conteneur d'explication : --}}
    <div class="explication-text">
        <h3>Bienvenue sur <i>Cinéfeel</i>, la plateforme où le cinéma rencontre vos émotions !</h3>
        <p>
            <i>Cinéfeel</i>, c’est bien plus qu’un simple site. 
            C’est un espace interactif conçu pour les passionnés de cinéma, où chaque utilisateur dispose d’un <b>tableau de bord personnalisé.</b> 
            Vous pouvez y gérer vos visionnages, déposer vos avis et collectionner des badges uniques.
        </p>
        <p>
            L’un des points forts de <i>Cinéfeel</i> est son <b>système révolutionnaire de recommandations émotionnelles</b>. 
            Ici, on dépasse les simples genres cinématographiques pour vous proposer des films alignés avec vos émotions du moment. 
            Fini les recherches interminables ! Grâce aux contributions de la communauté, chaque film est évalué non seulement sur son contenu, mais aussi sur l’impact émotionnel qu’il procure.
        </p>
        <p>
            De plus, on vous encourage à relever le défi de <b>collectionner des badges exclusifs</b> en explorant des univers cinématographiques variés. 
            Plus vous regardez de films, plus vous complétez votre collection et plus votre culture cinématographique s'élargit.
        </p>
        <p>
            Rejoignez <i>Cinéfeel</i> et laissez votre passion du cinéma s’exprimer autrement. 🎥✨
        </p>   
    </div>

    {{!-- Conteneur d'affichage des films : --}}
    <div id="moviesDisplay">
        {{!-- Pour chaque films transmis en paramètre de template : --}}
        {{#each movies}}
            {{!-- Afficher le partial suivant : --}}
            {{> movieDisplay}}
        {{/each}}
    </div>
</div>

{{!-- Insertion de code JavaScript : --}}
<script>
    async function showBadges() {
        const badges = JSON.parse('{{{badges}}}'); // Convertir en objet JS.

        for (const badge of badges) {   // Pour chaque badges :
            await Swal.fire({   // Afficher un popup :
                title: `Badge n°${badge.badge_id} Obtenu !`,
                imageUrl : `${badge.badge_url}?raw=true`,
                imageHeight : 200,
                imageWidth : 200,
                imageAlt : "Image du badge obtenu",
                text: `${badge.badge_distinction}.`,
                confirmButtonText: "SUPER !",
            });
        }
    }

    if('{{{badges}}}'){ // Si une données badges (nouveaux badges obtenus) est transmise :
        showBadges(); // Lancer la séquence d'affichage des pop-ups.
    }
</script>