{{!-- Contenu de la page de connexion : --}}
<div id="login-container" class="container-fluid">

    {{!-- Formulaire de connexion : --}}
    <form action="/login" method="POST" name="loginForm" id="login-form">
    
        <p class="explication-text">Connectez-vous et profitez des avantages d'un vrai CinéFeel.</p>

        {{!-- Entrer l'email : --}}
        <div>
            <label for="email">Adresse email :</label>
            <input id="email" name="email" type="email" maxlength="40" required>
        </div>

        {{!-- Entrer le mot de passe : --}}
        <div>
            <label for="password">Mot de passe :</label>
            <input id="password" name="password" type="password" minlength="4" maxlength="25" required>
        </div>

        {{!-- Boutons interactifs : --}}
        <div class="buttonsDiv">
            {{!-- Redirection vers l'accueil : --}}
            <button onclick="window.location.href='./'">Retour</button>
            {{!-- Bouton de soumission du formulaire : --}}
            <button>Connexion</button>

            {{!-- Bouton de création de compte utilisateur : --}}
            <button id="create-account-button" onclick="window.location.href='./create-account'">Créer un compte</button>
        </div>
        {{!-- Fin de formulaire de connexion : --}}
    </form>

    {{#if error}}   {{!-- Si une erreur est détéctée : --}}
        <div class="error-container">
                {{error}}    {{!-- Afficher l'erreur : --}}
        </div>
    {{/if}}
</div>