{{!-- Contenu de la page des bagdes : --}}
<div class="container-fluid d-flex flex-column w-75 my-3">

    {{!-- Conteneur d'explication : --}}
    <div>
        <p>
            Découvrez votre collection de badges brillamment gagnés après de longues heures de visionnage passionnant. 
            Admirez vos trophées et laissez-vous séduire par les prochains à débloquer.<br>
            <i>Avis aux collectionneurs dans l'âme !</i>
        </p>
    </div>

    {{!-- Conteneur d'affichage des badges obtenus : --}}
    <div class="container bg-secondary my-2">
        <p>Vous avez obtenu les badges suivants grâce à vos visionnages:</p>
        {{#each obtainedBadges}}    {{!-- Pour chaque badge obtenue : --}}
            {{> badgeDisplay}}      {{!-- Afficher le partial suivant : --}}
        {{/each}}
    </div>

    <hr>    {{!-- Séparation : --}}

    {{!-- Conteneur d'affichage des badges non obtenus : --}}
    <div class="container bg-secondary my-2">
        <p>Les badges suivants sont encore vérouillés, accomplissez les objectifs pour les débloqués :</p>
        {{#each notObtainedBadges}} {{!-- Pour chaque badge non obtenue : --}}
            {{> badgeDisplay}}      {{!-- Afficher le partial suivant : --}}
        {{/each}}
    </div>
</div>