{{!-- Contenu de la page des bagdes : --}}
<div id="badges-container" class="container-fluid">

    {{!-- Conteneur d'explication : --}}
    <div class="explication-text">
        <p>
            Découvrez votre collection de badges brillamment gagnés après de longues heures de visionnage passionnant. 
            Admirez vos trophées et laissez-vous séduire par les prochains à débloquer.<br>
            <i>Avis aux collectionneurs dans l'âme !</i>
        </p>
    </div>

    {{!-- Conteneur d'affichage des badges obtenus : --}}
    <p class="details-text">Vous avez obtenu les badges suivants grâce à vos visionnages:</p>
    {{#if obtainedBadges}}
        <div class="unlockedBadgesDisplay">
            {{#each obtainedBadges}}    {{!-- Pour chaque badge obtenue : --}}
                {{> badgeDisplay}}      {{!-- Afficher le partial suivant : --}}
            {{/each}}
        </div>
    {{else}}
        <p class="alert-text">Vous n'avez pas encore débloqué de badges...</p>
    {{/if}}

    <hr>    {{!-- Séparation : --}}

    {{!-- Conteneur d'affichage des badges non obtenus : --}}
    <p class="details-text">Les badges suivants sont encore vérouillés, accomplissez des objectifs pour les débloqués :</p>
    {{#if notObtainedBadges}}
        <div class="lockedBadgesDisplay">
            {{#each notObtainedBadges}} {{!-- Pour chaque badge non obtenue : --}}
                {{> badgeDisplay}}      {{!-- Afficher le partial suivant : --}}
            {{/each}}
        </div>
    {{else}}
        <p class="alert-text">Vous avez obtenu les badges suivants grâce à vos visionnages:</p>
    {{/if}}
</div>