<div class="container-fluid d-flex flex-column w-75 my-3">

    <div>
        <p>
            Découvrez votre collection de badges brillamment gagnés après de longues heures de visionnage passionnant. 
            Admirez vos trophées et laissez-vous séduire par les prochains à débloquer.<br>
            <i>Avis aux collectionneurs dans l'âme !</i>
        </p>
    </div>

    <div class="container bg-secondary my-2">
        <img src="" alt="">
        <p>Vous avez obtenu les badges suivants :</p>
        {{#each obtainedBadges}}
            {{> badgeDisplay}}
        {{/each}}
    </div>

    <hr>

    <div class="container bg-secondary my-2">
        <img src="" alt="">
        <p>Réaliser cette tache pour obtenir le badge.</p>
    </div>

    <button class="btn btn-block btn-info w-25 align-self-center my-2">Afficher plus...</button>
</div>