{{!-- Contenu de la page des films favoris : --}}
<div class="container-fluid d-flex flex-column align-items-center">

    {{!-- Conteneur d'explication : --}}
    <div class="explication-text">
        Retrouvez ici vos films préférés, ceux qui vous ont marqué, ému ou simplement amusé. 
        Tous vos coups de cœur ont leur place dans cet espace, personne ne vous jugera en tant que Cinéfeel bienveillant !
    </div>

    {{!-- S'il y a des films favoris : --}}
    {{#if favoritesMovies}}
        {{!-- Conteneur d'affichage des fils : --}}
        <div id="favoritesMoviesDisplay" class="moviesDisplay">
            {{#each favoritesMovies}}   {{!-- Pour chaque films favoris : --}}
                {{> movieDisplay}}      {{!-- Afficher le partial suivant : --}}
            {{/each}}
        </div>
    {{!-- Sinon : --}}
    {{else}}
        <div class="explication-text">
            {{!-- Afficher une explication : --}}
            <p>Il semble que vous n'ayez pas encore de film coup de coeur. Snifff...</p>
            <p>Revenez ici après avoir visionnés un film qui fait désormais parti de vos favoris.</p>
        </div>
    {{/if}}
    </div>
</div>