<div class="container-fluid d-flex flex-column align-items-center w-100 my-3">

    <div class="container text-left w-75 m-3">
        Accédez ici à la liste complète de tous les films que vous avez visionnés.
    </div>

    <!-- Boucle avec le {{{body}}} qui renvoie sur moviesDisplay. -->
    {{#if watchedMovies}}
        <div id="moviesDisplay" class="gridMovies w-100 m-3 bg-danger">
            {{#each watchedMovies}}
                {{> movieDisplay}}
            {{/each}}
        </div>
    {{else}}
        <p>Il semble que vous n'ayez pas encore regardé de films.</p>
        <p>Revenez ici après avoir partagé quelques avis sur certains d'entre eux.</p>
    {{/if}}

    <div class="container d-flex justify-content-center align-items-center">
        <button class="btn btn-light border rounded-left"> < </button>
        <p class="text-center bg-light mb-0 p-2 border rounded-1">Naviguer à travers les films</p>
        <button class="btn btn-light border rounded-right"> > </button>
    </div>
</div>