{{!-- Contenu de la page des films vus : --}}
<div class="container-fluid d-flex flex-column align-items-center">

    {{!-- Conteneur d'explication : --}}
    <div class="explication-text">
        <p>Accédez ici à la liste complète de tous les films que vous avez visionnés.</p>
    </div>

    {{!-- S'il y a des films vus : --}}
    {{#if watchedMovies}}
        {{!--Conteneur d'affichage des films vus : --}}
        <div id="watchedMoviesDisplay" class="moviesDisplay">
            {{#each watchedMovies}} {{!-- Pour chaque films vus : --}}
                {{> movieDisplay}}  {{!-- Afficher le partial suivant : --}}
            {{/each}}
        </div>
    {{!-- Sinon : --}}
    {{else}}
        <div class="explication-text">
            {{!-- Afficher une explication : --}}
            <p>Il semble que vous n'ayez pas encore regardé de films.</p>
            <p>Revenez ici après avoir partagé quelques avis sur certains d'entre eux.</p>
        </div>
    {{/if}}
</div>