{{!-- Contenu de la page des paramètres : --}}
<div class="container-fluid d-flex flex-column align-items-center w-75 my-3">

    {{!-- Conteneur d'explication : --}}
    <div class="explication-text">
        Accédez aux paramètres de la plateforme et personnalisez votre tableau de bord à votre guise pour une expérience optimisée et agréable au cœur de la communauté Cinéfeel.
    </div>

    {{!-- Conteneur d'affichage des paramètres : --}}
    <div id="parameters-div">
        <span class="parameter">
            <label for="parameters1">Libellé paramètre 1</label>
            <input id="parameters1" type="checkbox">
        </span>

        <span class="parameter">
            <label for="parameters2">Libellé paramètre 2</label>
            <input id="parameters2" type="checkbox">
        </span>
        
        <span class="parameter">
            <label for="parameters3">Libellé paramètre 3</label>
            <input id="parameters3" type="checkbox">
        </span>
    </div>
</div>