<div class="container-fluid d-flex flex-column align-items-center my-3">

    <div class="text-left w-75 m-3">
        {{#if research}}
            Voici les résultats de la recherche sur "{{research}}" :<br>
            Si le film que vous cherchez ne s'y trouve pas, utilisez <a href="/moviesList">l'option de filtrage</a> pour élargir votre recherche.
        {{else}}
            Nous vous invitons à entrer un <b>titre de film</b> ou <b>un réalisateur</b> dans la barre de navigation afin de lancer une recherche.<br>
            Toutefois, si vous souhaitez disposer de filtres pour votre recherche, rendez-vous dans la <a href="/moviesList">liste de films</a>.
        {{/if}}
    </div>

    <div id="searchMoviesDisplay" class="gridMovies w-100 m-3 bg-danger">
        {{#each result}}
            {{> movieDisplay}}
        {{/each}}
    </div>

    <div class="container d-flex justify-content-center align-items-center">
        <button class="btn btn-light border rounded-left"> < </button>
        <p class="text-center bg-light mb-0 p-2 border rounded-1">Naviguer à travers les films</p>
        <button class="btn btn-light border rounded-right"> > </button>
    </div>
</div>