<div class="container-fluid d-flex flex-column align-items-center w-75 my-3">

    <div class="container text-left m-3">
        Voici les résultats de votre recherche.<br>
        Si le film que vous cherchez ne s'y trouve pas, utilisez l'option de filtrage pour élargir votre recherche.
    </div>

    <div id="searchMoviesDisplay" class="container m-5 border rounded-5 border-3">
        Tous les films issues de votre recherche à afficher :
        <!-- Boucle avec le {{{body}}} qui renvoie sur moviesDisplay. -->
    </div>

    <div class="container d-flex justify-content-center align-items-center">
        <button class="btn btn-light border rounded-left"> < </button>
        <p class="text-center bg-light mb-0 p-2 border rounded-1">Naviguer à travers les films</p>
        <button class="btn btn-light border rounded-right"> > </button>
    </div>
</div>