{{!-- Partials > template d'affichage des badges obtenus par l'utilisateur--}}
<div class="container-fluid d-flex flex-row justify-content-between p-2 card bg-light w-100">
    {{!-- Contient le numéro de série du badge.  --}}
    <div>
        <p>Badge {{badge_serial_nb}} de sa série.</p>
    </div>
    {{!-- Contient la condition qu'il a fallu remplir pour obtenir le badge. --}}
    <div>
        <p>{{badge_distinction}}.</p>
    </div>
    {{!-- Contient l'image du badge obtenu. --}}
    <div>
        <img src="{{badge_url}}?raw=true" alt="Image du badge que vous avez obtenu." class="w-25">
    </div>
</div>